/*
--- 01 TYPOGRAPHY SYSTEM
google fonts: inter, sans-serif

font sizes (px)
22px(h1)  14px(header links) 13px(presentation text)

myName_22px


--- 02 COLORS
greys:
#111
#222
#333
#555
#999

edit #FCDC4A
flag #DE5F2A

*/



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: #eeeeee;
}

body {
    /* weight from 100 to 900 */
    font-family: "Inter", sans-serif;
    line-height: 1;
    font-weight: 200;
    color: #111;
    overflow-x: hidden;
    max-width: 120rem;
    padding-right: 8.4rem;
    padding-left: 8.4rem;
    margin: auto;
    background-color: white;
}

/* *********** */
/* HEADER MAIN */
/* *********** */
header {
    margin-top: 8.4rem;
    margin-bottom: 8.4rem;
}

/* headerMain */

/* **************** */
/* HEADER MAIN-left */
/* **************** */

.headerMainLeft {
    display: flex;
    align-items: center;
}

.logoDd {
    padding-right: 2.4rem;
    height: 4.2rem;
}

.myName {
    font-size: 2.4rem;
    font-weight: 500;
    color: #111;
}

/* ***************** */
/* HEADER MAIN-right */
/* ***************** */

.headerMainRight {
    margin-left: 24rem;
}

.contactsHeader {
    align-self: self-end;
}

.contactMailLinks {
    font-size: 1.2rem;
    font-weight: 300;
    color: #555;
    border-top: 1px solid #333;
    padding-top: 0.4rem;
    padding-bottom: 0.8rem;
}

.headerLinkCurriculumVitae,
.contactsHeader {
    font-size: 1.4rem;
    font-weight: 300;
    color: #333;
}

.contactLinksSpacing {
    padding-right: 1.6rem;
}

.contactHeaderLinkedin,
.contactHeaderGithub {
    text-decoration: none;
    cursor: pointer;
    color: #555;
}

.headerLinkCurriculumVitae {
    text-decoration: none;
    cursor: pointer;
    color: #333;
}

/* *************************** */
/* cvPresentationPlaceholder */
/* *************************** */

.cvPresentationPlaceholder {
    /*height: 16rem;*/
    width: 100%;
    font-size: 1.4rem;
}

.cvPresentationPhoto {
    display: flex;
    justify-content: center;

}

.cvInvertedLogo {
    width: 70px;
    align-self: self-end;
}

.mePhoto {
    width: 100px;

}

.cvHelloText {
    justify-self: center;
    align-self: center;
    font-size: 1.8rem;
    line-height: 1.4;
}

.portfolioWord {
    display: flex;
    align-items: center;
    padding-top: 4px;
    padding-left: 20%;
}

.drawLetter {
    height: 20px;
}

.soon {
    align-self: center;
    padding-left: 8px;
}

.portfolioPromisse {
    margin-bottom: 8.8rem;
    padding-left: 20%;
}

.landingLogos {
    height: 16px;
    margin-top: 4px;
    padding-right: 4px;
}

.cvSectionLeft {
    padding-right: 8rem;
}

.cvTitleAttach {
    display: flex;
}

.heading-1 {
    font-size: 3rem;
    font-weight: 350;
    margin-bottom: 4.2rem;
}

.personalInfo {
    margin-bottom: 4.2rem;
}

.cvLinkedin,
.cvGithub {
    text-decoration: none;
    cursor: pointer;
    color: #555;
    font-size: 1.2rem;
}

.cvLeftRight {
    margin-bottom: 8.8rem;
}


.cvPersonalInfoTitle,
.cvSectionTitlePreviousEducation,
.cvSectionTitlePreviousWorkExperience,
.cvSectionTitlePreviousWork,
.cvSectionTitleEducation,
.cvSectionTitleLanguage,
.cvSectionTitleComputerSkills {
    margin-bottom: 1.6rem;
}

.cvSectionTitle {
    margin-bottom: 2.4rem;
}

.sectionLine {
    margin-top: 2.4rem;
    border-bottom: 1px solid #999;
}

.date {
    font-size: 1.2rem;
    line-height: 1.6rem;
    justify-self: right;
}

.date01,
.date02,
.date03 {
    grid-column: span 1;
}

.info {
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.date01,
.info01 {
    grid-row: 1;
}

.date02,
.info02 {
    grid-row: 2;
}

.date03,
.info03 {
    grid-row: 3;
}

/*
.skillLevel {
    border: 1px solid red;
}
*/
.infoSoftware-skill01,
.infoSoftware-skill03,
.infoSoftware-skill05,
.infoSoftware-skill06 {
    grid-column: 2;
}

.infoSoftware-skill01,
.infoSoftware-skill02 {
    grid-row: 1;
}

.infoSoftware-skill02,
.infoSoftware-skill04,
.infoSoftware-skill07 {
    grid-column: 3;
    justify-self: right;
}

.infoSoftware-skill03,
.infoSoftware-skill04 {
    grid-row: 2;
}

.infoSoftware-skill05 {
    grid-row: 3;
}

.infoSoftware {
    font-size: 1.2rem;
}

.previousExperience {
    margin-top: 4.2rem;
}


/*
8-16-24-32-40-48-56-64-72-80-88-96-104-112-120-
128-136-144-152-160-168-176-184-192-200-208-216-
224----...280-288-296-304-312
*/

/* ****************************** */
/* FONT-SIZES */

/* regular txt*/
.title-1 {
    font-size: 1.6rem;
    font-weight: 300;
}

/* title-2 (14px) */
.paragraph-1 {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.paragraph-2 {
    font-size: 10px;
    margin-bottom: 8px;
    line-height: 1.2;
}

/* ************* */
/* REUSABLE GRID */
/* ************* */

.grid {
    display: grid;
}

.grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-rows {
    grid-template-rows: 1fr 1fr 1fr;
}

.grid--2-cols1fr2fr {
    grid-template-columns: 1fr 2fr;
}

.grid--3-cols--4-rows-sk {
    grid-template-columns: 0.55fr 1.25fr 1.25fr;
    grid-template-rows: repeat(4, 3.6rem);
}

.grid--2-cols--2-rows-cv {
    grid-template-columns: 0.55fr 2.55fr;
    grid-template-rows: 3.6rem 3.6rem;
    column-gap: 0.8rem;
}

.grid--2-cols--3-rows-cv {
    grid-template-columns: 0.55fr 2.55fr;
    grid-template-rows: 3.6rem 3.6rem 3.6rem;
    column-gap: 0.8rem;
    margin-bottom: 1.6rem;
}

.grid--3cols--1-row-sk {
    grid-template-columns: 0.55fr 1.25fr 1.25fr;
    grid-template-rows: 3.6rem;
}

/* ************* */
/* ************* */
/* ************* */




/* ************************** */
/* ************************** */
/* ************************** */

/* ************************** */
/* SECTION - BIO PRESENTATION */
/* ************************** */
.biographyText {
    font-size: 1.4rem;
    margin-bottom: 4.2rem;
}

.cvSectionTitleBio {
    margin-bottom: 0.8rem;
}

/* ************************** */

/* ****** */
/* FOOTER */
/* ****** */

footer {
    height: 8rem;
    border-top: 0.5px solid #999;
    margin-top: 8.8rem;
}

.footerContent {
    justify-self: right;
    color: #333;
    display: flex;
}

.currentYear,
.footerMyName {
    align-self: center;
    font-size: 1.2rem;
}

.registeredMark {
    font-size: 2.4rem;
    padding-top: 0.6rem;
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}